@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: block;
  background: #fff;
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 0;
  margin-bottom: 0;
}

span {
  color: #36b37f;
}

header {
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
}

.section1 {
  background: #fff url(./Group.png) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section1 h1:first-child {
  margin-top: 1.5em;
}

.section1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  margin: 2em 24px;
  text-align: center;
  color: #172b4d;
}

.social-icon {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 170px;
}

li {
  margin: 0 8px;
}

.btn {
  padding: 0;
  margin-top: 3em;
  background: none;
  border: 0;
}
.works {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px repeat(5, 5fr);
    text-align: center;
  }
  
  .works h1:first-child {
    padding: 1em;
  }
  
  .works h1:first-child::after {
    content: '';
    height: 4px;
    width: 48px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 20px;
    z-index: -1;
    background: #36b37e;
    border-radius: 8px;
  }
  
  .card-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 1em auto;
    width: 327px;
    border: 1px lightgrey solid;
    border-radius: 5px;
    height: 700px;
  }
  
  .card-tags,
  .categorie-tags {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .card-tags li {
    background: lightgray;
    font-size: 12px;
    padding: 0.5em;
    margin: 0 0.5em;
    border-radius: 2px;
  }
  .button {
      
/* Auto layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 12px;

margin-left: 110px;
width: 122px;
height: 48px;

/* Theme 2 / Primary 2 */

background: #36B37F;
border-radius: 4px;
  }
  /* About me */
  
  .about-myself {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* prettier-ignore */
    background: url(./illustration\ 1-\ about\ me-mobile.svg) no-repeat 100% 0%, url(./illustration\ 2-about\ me\ mobile.svg) no-repeat 0 300px;
    text-align: center;
    padding: 2em;
  }
  
  .about-myself p {
    font-size: 20px;
    color: #42526e;
  }
  
  .categorie-about-myself {
    list-style: none;
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .card-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-bottom: 2em;
    height: 352px;
    width: 327px;
    background: #ebf0ee;
    border: 1px lightgrey solid;
    border-radius: 5px;
  }
  
  .categorie-tags {
    display: flex;
    flex-wrap: wrap;
  }
  
  .categorie-tags li {
    background: white;
    color: #36b37f;
    font-size: 12px;
    padding: 1em 0.5em;
    margin: 1em 0.5em;
    border-radius: 5px;
  }
  
  .categorie-title {
    font-size: 24px;
    color: #344563;
  }
  
  .categorie-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Footer section */
.footer-container {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* prettier-ignore */
    background: url(./assest/illustration-contact-form.svg) no-repeat 100% 90%;
    text-align: center;
    padding: 2em 5em;
  }
  
  form {
    margin-top: 2em;
  }
  
  footer a {
    text-decoration: none;
    color: #42526e;
    font-size: 20px;
  }
  
  .form-fields {
    list-style: none;
    display: flex;
    width: max-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  input,
  textarea {
    width: 327px;
    padding: 1em;
    margin: 1em 0;
    background: #fff;
    border: 1px solid #d0d9d4;
    box-sizing: border-box;
    border-radius: 4px;
    color: #091e42;
  }
  
  footer > a {
    margin-top: 1.5em;
  }
  
  input:valid,
  textarea:valid {
    border: 1px solid #60c095;
    background: #fff;
  }
  
  footer::after {
    content: '';
    height: 4px;
    width: 150px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 80px;
    z-index: -1;
    background: #172b4d;
    border-radius: 8px;
  }